.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-around;
}

.box {
  height: 150px;
  width: 200px;
  border: 2px black solid;

  cursor: pointer;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}